<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/common-meta.ejs') -%>
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
  <title>Server Error | Chinesepod</title>
</head>
<body>
  <main>
    <div class="wrapper">
      Unexpected error happen in the server
    </div>
  </main>
</body>
</html>