<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/common-meta.ejs') -%>
  <link rel="stylesheet" href="/css/flatpickr.css">
  <link rel="stylesheet" href="/css/material_green.css">
  <link rel="stylesheet" href="/css/ruler.css">
  <link rel="stylesheet" href="/css/component.css">
  <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon">
  <title>TradeMark Generator | Chinesepod</title>
</head>

<body>
  <main class="root">
    <div class="wrapper" id="questions-holder">
    </div>
  </main>
  <div id="network-indicator">
    <div class="progress-bar">
        <div id="progress-indicator"></div>
      </div>
    <div class="media-spinner">
      <img src="/media/rubix_cube.gif" alt="loading indicator"/>
    </div>
  </div>
  <div style="display: none;">
    <audio id="error-sound-fx" src="/media/error_sound_1.mp3"></audio>
    <audio id="success-sound-fx" src="/media/success_sound_1.mp3"></audio>
  </div>
  <script src="/js/flatpickr.js"></script>
  <script src="/js/ruler.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/component.js"></script>
  <script src="/js/uilogic.js"></script>
  <script src="/js/effects.js"></script>
  
  <script>
    networkRequest()
  </script>
</body>

</html>