<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/common-meta.ejs') -%>
  <!-- This is use for Date Picker -->
  <link rel="stylesheet" href="/css/flatpickr.css">
  <link rel="stylesheet" href="/css/material_green.css">
  <!-- *** -->
  <link rel="stylesheet" href="/css/root.css">
  <title>TradeMark Generator</title>
</head>

<body>

  <main class="root">
    <div class="wrapper" id="questions-holder">
    </div>
  </main>
  <!-- This is use for Date Picker -->
  <script src="/js/flatpickr.js"></script>
  <!-- *** -->
  <script src="/js/component.js"></script>
  <script src="/js/uilogic.js"></script>
</body>

</html>